/* 標題樣式 */
h1 {
    text-align: center; /* 文字置中 */
    color: #666666; /* 文字顏色 */
    white-space: nowrap; /* 文字不換行 */
}

/* 表格樣式 */
table {
    margin: 20px auto; /* 水平置中，增加上下間距 */
    border-collapse: collapse; /* 合併邊框 */
}

td {
    text-align: center; /* 將文本置中 */
}

p {
    font-weight: bold;
    margin: 0; /* 清除預設邊距 */
    font-size: 1.2em;
}

/* 表單樣式 */
form {
    max-width: 600px; /* 最大寬度，調寬 */
    margin: 20px auto; /* 水平置中 */
    padding: 20px; /* 區塊填充 */
    background-color: #f9f9f9; /* 背景顏色 */
    border-radius: 5px; /* 圓角 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 陰影效果 */
}

label {
    display: block; /* 單行顯示 */
    margin-bottom: 10px; /* 底部間距 */
}

select, input[type="number"] {
    width: calc(100% - 20px); /* 寬度100%，減去填充 */
    padding: 8px; /* 區塊填充 */
    margin-bottom: 20px; /* 底部間距 */
    border: 1px solid #ccc; /* 邊框 */
    border-radius: 5px; /* 圓角 */
    box-sizing: border-box; /* 盒模型 */
}

button[type="submit"] {
    width: calc(100% - 20px); /* 寬度100%，減去填充 */
    padding: 10px; /* 按鈕填充 */
    background-color: #007bff; /* 按鈕背景顏色 */
    color: #fff; /* 文字顏色 */
    border: none; /* 移除邊框 */
    border-radius: 5px; /* 圓角 */
    cursor: pointer; /* 鼠標樣式 */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* 滑鼠懸停時的背景顏色 */
}


/* 按鈕樣式 */
button[type="button"] {
    padding: 10px 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; /* 讓按鈕間距更合適 */
    margin-top:-18px;
    margin-bottom: 20px;
}

/* 刪除按鈕顏色 */
button.delete {
    background-color: #f44336;
    margin-bottom: 10px;
    color: white;
    border: none;
    border: none;
    border-radius: 4px;
}

button#fillQuantity{
    padding: 6px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 15px;
}

input[type="number"]{
    margin-bottom: 0px;
}

/* 輸入框樣式 */
input[type="text"] {
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    margin-bottom: 4px; /* 讓輸入框與按鈕之間有些間距 */
    margin-top: -8px
}

#inputContainer {
    margin-bottom: 20px;
}

  /* Add your CSS styles here */
#dynamic-table {
    width: 50%; /* Adjust the width of the table */
    border-collapse: collapse;
    margin-bottom: 20px; /* Add some space below the table */
  }
#dynamic-table th, #dynamic-table td {
    border: 1px solid #ddd;
    padding: 4px; /* Adjust the padding */
    text-align: left;
  }
.button-container {
    margin-bottom: 10px; /* Add some space below the button container */
  }
.test-button {
    margin-right: 10px; /* Adjust the margin */
  }